body {
	background-image: url("../src/images/talo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #ffffffff;
	margin: 0 10%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	}
	
h1 {
	text-align: center;
	font-size: 3em;
	color: #000000;
	text-transform: uppercase;
	margin-top: 30px;
	}
	
h2 {
	text-align: center;
	color: #000000;
	font-size: 1,5em;
	font-style: bold;
	}
	
p	{
	text-align: center;
	color: #000000;
	}

#maalilaskuri {
	margin: auto;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 600px;
	height: 360px;
	padding: 5px 20px;
	background: #FFFFFF;

	text-align: center;
 }
		
#tiedot {
	margin: auto;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 600px;
	height: 1445px;
	padding: 5px 20px;
	background: #FFFFFF;

	text-align: center;
}

